<%= render 'admin/homes/admin_layouts' %>

<h2>商品一覧</h2>
<%= link_to "➕新商品追加", new_admin_item_path %></br>

<div class="row">
  <div class="col-6">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>商品ID</th>
          <th><!-- 画像 --></th>
          <th>商品名</th>
          <th>税抜価格</th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td>
              <% if item.item_image.attached? %>
                <%= image_tag item.item_image, size: "50x50" %>
              <% else %>
                <%= image_tag 'no_image_square', size: "50x50" %>
              <% end %>
            </td>
            <td><%= link_to item.name, admin_item_path(item.id) %></td>
            <td><%= number_with_delimiter(item.excluding_tax) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
