<!-- 商品詳細画面 -->
<%= render 'admin/homes/admin_layouts' %>

<h2>商品詳細</h2>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!-- accept: "image/*"は画像ファイルしか投稿できないようにしている -->
      <% if @item.item_image.attached? %>
        <%= image_tag @item.item_image, size: "400x400" %>
      <% else %>
        <%= image_tag 'no_image_square', size: "400x400" %>
      <% end %>
    </div>

    <div class="col-md-6">
      <p>商品名 ：<%= @item.name %></p>
      <p>商品説明 ：<%= @item.introduction %></p>

      <!--<p>ジャンル</p>-->
      <p>税込価格（税抜価格） ：<%= number_with_delimiter((@item.excluding_tax * 1.08).to_i) %>円（<%= number_with_delimiter(@item.excluding_tax) %>円）</p>

      <!--<p>販売ステータス</p>-->
      <!--%= @item.is_sales_status %-->

      </br><%= link_to "編集する", edit_admin_item_path(@item.id), class: 'btn btn-success' %>
    </div>
  </div>
</div>
