<!-- é¡§å®¢å´ã®æž  -->
  <header>
    <% if customer_signed_in? %>
    <h1>ðŸ‘ª</h1>
    
    <li>
      <%= link_to "ãƒžã‚¤ãƒšãƒ¼ã‚¸", customers_mypage_path %>
    </li>
    <li>
      <%= link_to "å•†å“ä¸€è¦§", items_path %>
    </li>
    <li>
        <%= link_to "ã‚«ãƒ¼ãƒˆ", cart_items_path %>
    </li>
    <li>
        <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_customer_session_path, method: :delete %>
    </li>
      
    <% else %>
    <h1>ðŸ‘ª</h1>
    <li>
      <%= link_to "About", about_path %>
    </li>
    <li>
        <%= link_to "å•†å“ä¸€è¦§" %>
    </li>
    <li>
        <%= link_to "æ–°è¦ç™»éŒ²", new_customer_registration_path %>
    </li>
    <li>
        <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_customer_session_path %>
    </li>
    <% end %>
  </header>
