<!-- 会員一覧画面 -->
<%= render 'admin/homes/admin_layouts' %>
<h1>👤</h1>

<h2>会員一覧</h2>
<% @customers.each do |customer| %>
  <div>
    <p>会員ID：<%= customer.id %></p>
    <p>氏名：<%= link_to "#{customer.first_name} #{customer.last_name}", admin_customer_path(customer) %></p>
    <p>メールアドレス：<%= customer.email %></p>
    <p>ステータス：<%= customer.is_active %></p>
  </div>
<% end %>

