<!-- ç®¡ç†è€…å´ã®æž  -->
  <header>
    <% if admin_signed_in? %>
    <h1>ðŸ‘¤</h1>
    <li>
      <%= link_to "å•†å“ä¸€è¦§", admin_items_path %>
    </li>
    <li>
      <%= link_to "ä¼šå“¡ä¸€è¦§", admin_customers_path %>
    </li>
    <li>
        <%= link_to "æ³¨æ–‡å±¥æ­´ä¸€è¦§" %>
    </li>
    <li>
        <%= link_to "ã‚¸ãƒ£ãƒ³ãƒ«ä¸€è¦§" %>
    </li>
    <li>
        <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_admin_session_path, method: :delete %>
    </li>
      
    <% else %>
    <h1>ðŸ‘¤</h1>
    <li>
      <%= link_to "About" %>
    </li>
    <li>
        <%= link_to "å•†å“ä¸€è¦§", admin_items_path %>
    </li>
    <li>
        <%= link_to "æ–°è¦ç™»éŒ²", new_admin_item_path %>
    </li>
    <li>
        <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_admin_session_path %>
    </li>
    <% end %>
  </header>
