<!-- 注文情報確認 -->
<%= render 'public/homes/public_layouts' %>

<h2>注文情報確認</h2>
<%= form_with model: @order, url: orders_path, method: :post do |f| %>
  <table>
    <thead>
      <th>　商品名　</th>
      <th>　単価(税込)　</th>
      <th>　数量　</th>
      <th>　小計　</th>
    </thead>
    <tbody>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td>　<%= cart_item.item.name %>　</td>
          <td>　<%= number_with_delimiter((cart_item.item.excluding_tax * 1.08).floor) %>　</td>
          <td>　<%= cart_item.amount %>　</td>
          <td>　<% subtotal = (cart_item.item.excluding_tax * 1.08).floor * cart_item.amount %>
          <%= number_with_delimiter(subtotal) %>　</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table>
    <tbody>
      <tr>
        <th> 送料 </th>
        <td> <%= postage = 800 %> <!--固定--></td>
      </tr>
      <tr>
        <th> 商品合計 </th><!--小計の合計-->
        <td>
          <% subtotal = @cart_items.sum { |item| item.item.excluding_tax * item.amount } %>
          <% subtotal_with_tax = (subtotal * 1.08).floor %>
          <%= number_with_delimiter(subtotal_with_tax) %>
        </td>
      </tr>
      <tr>
        <th> 請求金額 </th>
        <td> <%= number_with_delimiter(subtotal_with_tax + postage) %> </td>
      </tr>
    </tbody>
  </table>

  <table>
    <tr>
      <th>支払方法</th>
      <td><%= f.object.payment_method_i18n %></td>
    </tr>
    <tr>
      <th>お届け先</th>
      <td>
        〒<%= f.object.shopping_postal_code %>
        <%= f.object.shopping_address %></br>
        <%= f.object.shopping_name %>様</br>
      </td>
    </tr>
  </table>
  
<%= f.hidden_field :postage, :value => 800 %>
<%= f.hidden_field :billing_amount, :value => subtotal_with_tax + postage %>
<%= f.hidden_field :shopping_postal_code, :value => @order.shopping_postal_code %>
<%= f.hidden_field :shopping_address, :value => @order.shopping_address %>
<%= f.hidden_field :shopping_name, :value => @order.shopping_name %>
<%= f.hidden_field :payment_method, :value => @order.payment_method %>



<%= f.submit "注文を確定する", class: 'btn btn-success' %>


<% end %>