<!-- 注文履歴画面 -->
<%= render 'public/homes/public_layouts' %>
<h1>👪</h1>
<h2>注文履歴一覧</h2>

<% @orders.each do |order| %>
<table>
    <thead>
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>支払い金額</th>
        <th>注文詳細</th>
    </thead>
    <tr>
        <td><%= order.created_at.strftime("%Y-%m-%d") %></td>
        <td>〒<%= order.shopping_postal_code %></br>
            <%= order.shopping_address %></br>
            <%= order.shopping_name %></td>

        <td><% order.ordered_products.each do |order_product| %>
              <%= order_product.item.name %></br>
            <% end %></td>
        <td><%= number_with_delimiter(order.billing_amount) %>円</td>
    <!--ステータス：<!--%= order.status %--></br>
        <td><%= link_to "表示する", order_path(order.id), class: "btn btn-primary" %></td>
    </tr>
</table>
<% end %>