<!-- 注文情報入力 -->
<%= render 'public/homes/public_layouts' %>
<h1>👪</h1>
<h2>注文情報入力</h2>
<%= form_with model: @order, url: orders_path, method: :post do |f| %>
支払い方法</br>
<%= f.radio_button :payment_method, "credit_card" %>
<%= f.label :payment_method_credit_card, "クレジットカード" %></br>
<%= f.radio_button :payment_method, "transfer" %>
<%= f.label :payment_method_transfer, "銀行振込" %></br>

お届け先</br>
<%= f.radio_button :shopping_postal_code, "" %>
<%= f.label :address, "ご自身の住所" %>
<%= f.select :address_id, options_from_collection_for_select(ShoppingAddress.all, :id, :address_display) %></br>
〒<%= @customer.postal_code %>
<%= @customer.address %></br>
<%= @customer.first_name %><%= @customer.last_name %>様


</br><%= f.radio_button :shopping_postal_code, "" %>
<%= f.label :address, "新しいお届け先" %></br>
郵便番号(ハイフンなし)：〒<%= f.text_field :shopping_postal_code %></br>
住所：<%= f.text_field :shopping_address %></br>
宛名：<%= f.text_field :shopping_name %>様

</br><%= link_to "確認画面へ進む", orders_confirm_path, class: 'btn btn-primary' %>

<% end %>