<!-- 顧客側商品一覧 -->
<%= render 'public/homes/public_layouts' %>
<h1>👪</h1>
<h2>商品一覧</h2>
<% @items.each do |item| %>

    <p>商品画像</p><!-- accept: "image/*"は画像ファイルしか投稿できないようにしている -->
    
    <% if item.item_image.attached? %>
      <%= link_to image_tag(item.item_image, size: "100x100"), item_path(item.id) %>
    <% else %>
      <%= link_to image_tag('no_image_square', size: "100x100"), item_path(item.id) %>
    <% end %>

    <p>商品名</p>
    <%= link_to item.name, item_path(item.id) %>
    <p>商品説明</p>
    <%= item.introduction %>
    <!--<p>ジャンル</p>-->
    <p>税抜価格</p>
    <%= item.excluding_tax %>
    <!--<p>販売ステータス</p>-->
    <%= item.is_sales_status %>
    
    <p>----------------------------------------------</p>

    
    
<% end %>

